<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="System.Management.Automation_PowerShell_3.0" version="6.3.9600.17400" targetFramework="net461" />
  <package id="Topshelf" version="4.0.3" targetFramework="net461" />
</packages>