@import "_colors";

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: $dark-theme-color;
    color: white;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
}

.left-nav {
    .site-logo {
        font-size: 2rem;
        font-weight: 700;
    }

    ul {

        & > li {
            margin: 0 0 0.5rem 0;

            &.nav-header {
                text-transform: uppercase;
                padding: 0.5rem 1rem 0 1rem;
                margin-bottom: 0;
                font-size: 0.7rem;
                color: $light-theme-color;
            }

            & > a {
                display: block;
                color: #cfd2da;
                padding: 0.5rem 1rem;
                border-radius: 0.25rem;
                border: solid 1px transparent;
                transition: border-color ease 0.2s, color ease 0.2s;

                &:hover {
                    color: white;
                    text-decoration: none;
                    border-color: $primary-theme-color;
                }

                &.active {
                    border-color: $primary-theme-color;
                    background-color: $primary-theme-color;
                    color: white;
                    cursor: default;
                }
            }
        }
    }
}

.content-header {
    h2 {
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 300;
    }

    h3 {
        font-size: 0.9rem;
        text-transform: uppercase;
        font-weight: 300;
        color: $light-theme-color;
    }

    .primary-buttons {
        float: right;
    }
}

.content-body {
    h4 {
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 300;
        color: $light-theme-color;
    }
}

hr {
    border-top: 1px solid #434857
}

/*#region bootstrap changes */
@media screen and (min-width: 768px) {
    .modal.center {
        text-align: center;

        &:before {
            display: inline-block;
            vertical-align: middle;
            content: " ";
            height: 100%;
        }

        .modal-dialog {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
        }
    }
}

/*#endregion */
