body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #2c2530;
  color: white;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: 300; }

.left-nav .site-logo {
  font-size: 2rem;
  font-weight: 700; }

.left-nav ul > li {
  margin: 0 0 0.5rem 0; }
  .left-nav ul > li.nav-header {
    text-transform: uppercase;
    padding: 0.5rem 1rem 0 1rem;
    margin-bottom: 0;
    font-size: 0.7rem;
    color: #665f82; }
  .left-nav ul > li > a {
    display: block;
    color: #cfd2da;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: solid 1px transparent;
    transition: border-color ease 0.2s, color ease 0.2s; }
    .left-nav ul > li > a:hover {
      color: white;
      text-decoration: none;
      border-color: #387ebe; }
    .left-nav ul > li > a.active {
      border-color: #387ebe;
      background-color: #387ebe;
      color: white;
      cursor: default; }

.content-header h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300; }

.content-header h3 {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #665f82; }

.content-header .primary-buttons {
  float: right; }

.content-body h4 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #665f82; }

hr {
  border-top: 1px solid #434857; }

